page-tab-contacts {
    ion-item {
        border-bottom: 0.55px solid #c8c7cc !important;
    }
    
    ion-note {
        font-size: 12px;
        align-self: flex-start;
        margin-top: 14px;
    }
}
