page-login {
    ion-content {
		.position-bottom {
			position: fixed;
            left: 40px;
            right: 40px;	
			bottom: 34px;
		}

        button {
            margin-top: 12px !important;
            text-transform: none !important;
        }
	}
}
