page-tab-profile {
    ion-content {
        background: #f7f7f7 !important;
        
        .profile-top {
            width: 100%;
            margin: 0;
            .profile-photo {
                padding-top: 16px;
                
                $photoSize: 128px;
                
                img {
                    width: $photoSize;
                    height: $photoSize;
                    border-radius: 50%;
                    border: solid 2px rgba(234, 79, 20, .5);
                    margin: 0 auto;
                }
            }
        }

        .profile-detail {
            margin-top: 24px;

            ion-item {
                ion-icon {
                    font-size: 1.4rem;
                };
                p {
                    padding-top: 6px;
                }
            }
        }
    }
}
