<ion-header>
  <ion-toolbar>
    <ion-title>Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="signupForm">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" type="text" email></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button (click)="onSignup()" type="submit" expand="block" shape="outline" margin-top>Signup</ion-button>
  </form>

</ion-content>
