page-chat-message {
    ion-content {
		ion-list {
			margin: 0 !important;

			fieldset {
				border: none;
				border-top: 0.55px solid #c8c7cc !important;
				margin-top: 24px !important;
			}
		}
		

		ion-avatar {
			max-width: 32px;
			margin-bottom: -24px;
			align-items: flex-start;

			.user-image
			{
				border-radius: 50%;
			}
		}

		.message-text {
			display: inline-block;
			padding: 8px;
			border-radius: 4px;
			max-width: 180px;
			font-size: 13px;
			font-family: Lato, "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
			line-height: 20px;
			white-space: normal;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;

			&.left {
				background-color: #a7e4ed;
				color: #444;
				float: left !important;
				margin-left: 46px;
			}

			&.left:before {
				position: absolute;
				left: 56px;
				content:'';
				width: 0;
				height: 0;
				border-width: 7px 14px 7px 0;
				border-style: solid;
				border-color: transparent #a7e4ed transparent;
			}

			&.right {
				background-color: #d7e4ed;
				margin-right: 54px;
				color: #444;
				float: right !important;
			}

			&.right:before {
				position: absolute;
				right: 64px;
				content:'';
				width: 0;
				height: 0;
				border-width: 7px 0 7px 14px;
				border-style: solid;
				border-color: transparent #d7e4ed transparent;
			}
		}

		.message-time {
			position: absolute;
			margin-top: 4px;
			color: #a2a2a2;
			right: 0px;
			padding-right: 12px;
			font-size: 1.2rem;
			vertical-align: middle;
            text-transform: lowercase;
		}
	}

    ion-footer {
        i {
            font-size: 24px !important;
            color: #222;
        }

        .message-warning {
            font-style: italic;
            font-size: 10px !important;
        }

        .button-send ion-icon {
            font-size: 2.0em !important;
        }

        textarea {
            padding: 0 8px !important;
            padding-right: 0 !important;
        }
    }
}
