<ion-header>
    <ion-navbar>
        <ion-title>Messages</ion-title>
    </ion-navbar>
</ion-header>


<ion-content class="messages">
  <ion-list no-padding *ngIf="user">
    <div *ngFor="let message of chatMessages; let i = index">
      <fieldset *ngIf="i == 0 || (i > 0) && message.day != chatMessages[i-1].day">
        <legend align="center" *ngIf="isToday(message.timestamp)">
            today
        </legend>
        <legend align="center" *ngIf="!isToday(message.timestamp)">
            {{message.timestamp | date: "MMMM d"}}
        </legend>
      </fieldset>
      <ion-item no-lines>
        <ion-label>
          <p *ngIf="message.from == user.uid">
            <span class="message-text right">{{message.message}}</span>
            <span class="message-time">{{message.timestamp | date:"hh:mm a"}}</span>
          </p>
          <p *ngIf="message.from != user.uid">
            <ion-avatar>
              <img class="user-image" [src]="(message.user | async)?.photoURL" />
            </ion-avatar>
            <span class="message-text left">{{message.message}}</span>
            <span class="message-time">{{message.timestamp | date:"hh:mm a"}}</span>
          </p>
        </ion-label>
        {{message.message}}
      </ion-item>
    </div>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar no-padding>
    <ion-row>
      <ion-col col-2 no-padding text-center>
        <button ion-button small clear icon-only>
          <i class="pe-7s-camera"></i>
        </button> <!--send images-->
      </ion-col>
      <ion-col col-2 no-padding text-center>
        <button ion-button small clear icon-only>
          <i class="pe-7s-smile"></i>
        </button> <!--send contacts-->
      </ion-col>
      <ion-col col-2 no-padding text-center>
        <button ion-button small clear icon-only>
          <i class="pe-7s-user"></i>
        </button> <!--send contacts-->
      </ion-col>
      <ion-col no-padding text-right>
        <ion-label *ngIf="chatText && chatText.length > textMaxLength" color="danger" class="message-warning">
          Your message is {{chatText.length}} characters too long.
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-10 no-padding>
        <ion-textarea type="text" 
          [(ngModel)]="chatText" 
          (keydown.enter)="sendMessage($event);false" 
          rows="1" 
          [maxlength]="500" 
          [placeholder]="'Type a message here'"
          class="message-input" auto-size autocapitalize="off" block></ion-textarea>
      </ion-col>
      <ion-col no-padding text-right>
        <button ion-button (click)="sendMessage($event)" [disabled]="!chatText || (chatText && chatText.length > textMaxLength)" color="dark" class="button-send" small clear icon-only>
          <ion-icon name="md-send"></ion-icon>
          <!--<i class="pe-7s-paper-plane"></i>-->
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
