<ion-tabs color="primary">
  <ion-tab label="Chats" icon="chatbubbles" href="/app/tabs/(tab1:chats)">
    <ion-router-outlet name="tab1"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Contacts" icon="contacts" href="/app/tabs/(tab2:contacts)">
    <ion-router-outlet name="tab2"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Profile" icon="person" href="/app/tabs/(tab3:profile)">
    <ion-router-outlet name="tab3"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="About" icon="information-circle" href="/app/tabs/(tab4:about)">
    <ion-router-outlet name="tab4"></ion-router-outlet>
  </ion-tab>
</ion-tabs>