<ion-content text-center>

    <div class="auth-buttons">
      <ion-button expand="block" color="facebook" (click)="loginWithFacebook()">
        <ion-icon slot="start" name="logo-facebook"></ion-icon>
        Sign In With Facebook
      </ion-button>
      <ion-button expand="block" color="google" (click)="loginWithGoogle()">
        <ion-icon slot="start" name="logo-google"></ion-icon>
        Sign In With Google+
      </ion-button>
      <ion-button expand="block" color="favorite" (click)="loginWithGithub()">
        <ion-icon slot="start" name="logo-github"></ion-icon>
        Sign In With Github
      </ion-button>
    </div>
  

</ion-content>
