<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header color="medium">
      Channels

      <ion-button (click)="createChannel()" expand="clear" [disabled]="!currentUser">
        <ion-icon slot="icon-only" color="light" name="add"></ion-icon>
      </ion-button>
    </ion-list-header>
    <ion-item-sliding *ngFor="let channel of channels | async">
      <ion-item button detail="false" (click)="navigateTo('/app/tabs/(tab1:chats/' + channel.id + ')')">

        <ion-avatar slot="start">
          <img [src]="channel.photoURL || 'assets/images/group.png'">
        </ion-avatar>
        <ion-label>
          <h4 class="channel-name">
            {{channel.name}}
          </h4>
          <p class="last-message">
            {{channel.lastMessage || channel.purpose}}
          </p>
        </ion-label>
        <ion-note slot="end" *ngIf="channel.updatedAt">
          {{channel.updatedAt.toDate() | timeAgo}}
        </ion-note>
      </ion-item>

      <ion-item-options side="end" *ngIf="channel.type != 'public'">
        <ion-item-option (click)="leaveChannel(channel)" color="danger" expandable>
          <ion-icon name="trash"></ion-icon>
          Remove
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-list-header color="medium" margin-top>
      Direct messages

      <ion-button expand="clear" (click)="navigateTo('/app/tabs/(tab2:contacts)')" [disabled]="!currentUser">
        <ion-icon slot="icon-only" color="light" name="add"></ion-icon>
      </ion-button>
    </ion-list-header>
    
    <ion-item-sliding *ngFor="let channel of directs | async">
      <ion-item button detail="false" *ngIf="channel.memberId | userProfile | async as member"
        (click)="navigateTo('/app/tabs/(tab1:chats/' + channel.id + ')')">

        <ion-avatar slot="start">
          <img [src]="member.photoURL || 'assets/images/noavatar.png'">
        </ion-avatar>
        <ion-label>
          <h4 class="channel-name">
            {{member.displayName}}
          </h4>
          <p class="last-message">
            {{channel.lastMessage || channel.purpose}}
          </p>
        </ion-label>
        <ion-note slot="end" *ngIf="channel.updatedAt">
          {{channel.updatedAt.toDate() | timeAgo}}
        </ion-note>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="leaveChannel(channel)" color="danger" expandable>
          <ion-icon name="trash"></ion-icon>
          Remove
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
